<?php
/**
 * John
 *
 * @category   Application_Extensions
 * @package    Pdaportfolio
 * @author     John
 */
?>


<div class="global_form_popup">
	<h3>Link:</h3>
	<div><input type="text" onclick="select()" name="pdaportfolio_link" class="ynfs_share_link_textbox"
		value="<?php echo $this->shareLink ?>" />
	</div>
	<div class="ynfs_share_link_note"><i><?php echo $this->translate("Copy to clipboard: Ctrl+C")?></i></div>
</div>