<?php $this->headScript()->appendFile('application/modules/Honeypot/externals/scripts/core.js'); ?>

<div id="honeypot_join_form">
<?php echo $this->form->render($this) ?>
</div>

<script type="text/javascript">
    var fieldset = "<?php echo implode(',',$this->form->fields); ?>";
</script>