<?php if ($this->form): ?>                  
    
    <?php echo $this->form->render($this) ?>
           
<?php elseif ($this->status): ?>
        
    <div><?php echo $this->translate("Changes saved!") ?></div>
            
    <script type="text/javascript">
        var name = '<?php echo $this->name ?>';
        var label = '<?php echo $this->escape($this->menuItem->label) ?>';
        setTimeout(function() {
            parent.$('admin_menus_item_' + name).getElement('.item_label').set('html', label);
            parent.Smoothbox.close();
        }, 500);        
            
    </script>
            
<?php endif; ?>